## IntelliJ IDEA files
#.idea/
#*.iml
#*.ipr
#*.iws
#.idea_modules/
#.fleet/
#
## Gradle files
#.gradle/
#
## Node.js files
#node_modules/
#
## Compiled output
#/build/
#out/
#
## IDE metadata
#.DS_Store
